<% unless @borrowings.empty? %>


<table class="dvd-index">
  <tr>
    <th class="col-md-2 show-table">DVD Title</th>
    <th class="col-md-2 show-table">Lender</th>
    <th class="col-md-4 show-table">Approved?</th>
  </tr>
    <% @borrowings.each do |borrowing| %>
      <tr class="opaque">
        <td  class="col-md-2 show-table">
          <%= borrowing.dvd.title %>
        </td>
        <td  class="col-md-2 show-table">
          <%= borrowing.lender.name.split[0] %>
        </td>
        <td  class="col-md-4 show-table">
          <% if borrowing.accepted.nil? %>
            Waiting for approval
          <% else %>
            Approved!
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No DVDs borrowed.</p>
<% end %>
