<div>
  <h1 class="page-title">Members:</h1>
</div><br/>
<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="opaque"
      <% @user.each do |user| %>
        <p><%= link_to user.name, user_path(user.id) %></p>
      <% end %>
    </div>
  </div>
</div>

