<div class="col-s-12">
  <div class="page-title">
    <h1>Members:</h1>
  </div>
</div>
<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <% @user.each do |user| %>
      <h4><%= link_to user.name, user_path(user.id) %></h4>
    <% end %>
  </div>
</div>

