<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 welcome">
      <h1 class="page-title">Bienvenue a </h1>
      <h1 class="page-title disc-cellar">Disc Cellar</h1>
    </div><br/>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>Aromas chewy artisanal jammy nostrud zinfandel exquisite viura oak lively. Grenache zinfandel exquisite ut connotes barrel sherry for ut vines. Fumé blanc cabernet sauvignon minim riesling viognier ad complex malbec lively exquisite.</p>
    </div>
  </div>
</div>

