<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 welcome">
      <h1 class="page-title">Bienvenue a </h1>
      <h1 class="page-title disc-cellar">Disc Cellar</h1>
    </div><br/>
  </div>
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <p>You have a wine cellar, right? (At least in our dreams.) You keep track of all the wine you've got in your cellar, so you know at all times what you have.</p>

      <p>But we're guessing you have no idea all the DVDs you've got. We've all been in a store and wondered, "Do I already have this DVD?" And we're guessing at least 95% of the time you do, even though you forgot. (Figures not necessarily accurate.)</p>

      <p>That's where Disc Cellar comes in.</p><br/>

      <p>Easily keep track of what DVDs you currently own. Remember who you loaned one to, so you can nag them to give it back.</p><br/>
    </div>
  </div>
</div>

