<div class="container-fluid">
  <div class="page-title col-md-12">
    <h1 class="page-title">Bienvenue a Disc Cellar</h1>
  </div><br/>
</div>
<div class="container">
  <div class="col-md-7">
    <p>Aromas chewy artisanal jammy nostrud zinfandel exquisite viura oak lively. Grenache zinfandel exquisite ut connotes barrel sherry for ut vines. Fumé blanc cabernet sauvignon minim riesling viognier ad complex malbec lively exquisite.</p>
  </div>
</div>

