<div class="col-s-12">
  <div class="page-title">
    <h1 class="page-title">All Borrow Requests</h1>
  </div>
</div>
<div class="container-fluid">
    <div class="col-md-12">
      <table class="dvd-index">
        <thead>
          <tr>
            <th class="col-md-4 col-md-offset-1">Borrower</th>
            <th class="col-md-4 show-table">Lender</th>
            <th class="col-md-3 show-table">DVD</th>
            <th class="col-md-1 show-table">Approved?</th>
          </tr>
        </thead>

        <tbody>
          <% @borrowships.each do |borrowship| %>
            <tr class="opaque">
              <td class="col-md-4 col-md-offset-1"><%= borrowship.borrower.name %></td>
              <td class="col-md-4 col-md-offset-1"><%= borrowship.lender.name %></td>
              <td class="col-md-4 col-md-offset-1"><%= borrowship.dvd.title %></td>
              <td class="col-md-1 col-md-offset-1">---</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
