// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  padding-top: 100px;
}

.disc-cellar {
  font-size: 5em;
}

p {
  font-size: 1.5em;
  line-height: 1.2em;
}
